@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* ************ Top Header ************* */


/* ****************** header **************** */



/* /******************* main Section ******************/
.about_us_bg_image {
    background-image: url(/assets/images/breadkum-imgs.jpg);
    width: 100%;
    height: 45vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about_us_bg_image h5 {
    color: white;
    font-size: 23px;
    font-weight: 600;
}

.about_us_bg_image p {
    color: white;
    font-size: 13px;
}

/* *********************** Card Section ******************* */

.card_section_first .icon {
    font-size: 60px;
    position: relative;
    top: 1.5rem;
    border: 3px solid #002e5a;
    width: fit-content;
    height: 85px;
    padding: 7px;
    border-radius: 50px;
    color: #002e5a;
    background-color: white;
    right: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 10;
    border-width: 5px 5px 5px 5px;

}

.card_section_first .card:hover .icon {
    color: #2bace7;
    border: 3px solid #2bace7;
    border-width: 5px 5px 5px 5px;
    transition: 1s;

}

.card_section_first .card {
    background-color: #002e5a;
    padding: 10px;
    border-radius: 15px;
    color: white;
    width: 300px;

}

.card_section_first .card:hover {
    background-color: #2bace7;
    transition: 1s;
}

.card_section_first .card .card-body {
    margin-left: -60px;
}

.card_section_first .card h4 {
    font-size: 18px;
    font-weight: 600;
}

.card_section_first .card p {
    font-size: 14px;
    margin: 5px;
}

/* ******************** two_side_image **************** */
.two_side_image h5 {
    color: #2bace7;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
}

.two_side_image h3 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 800;
    font-size: 40px;
}

.two_side_image h3 span {
    color: #2bace7;
}

.two_side_image p {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.two_side_image h4 {
    color: #2bace7;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
}

.two_side_image .Read_More {
    padding: 15px;
    width: 150px;
    border: none;
    background-color: #2bace7;
    border-radius: 10px;
    color: white;
}

.two_side_image .Read_More:hover {
    background-color: #002e5a;
    color: white;
    transition: 1s;
}

.two_side_image .A_quote {
    padding: 15px;
    width: 150px;
    border: none;
    background-color: #002e5a;
    border-radius: 10px;
    color: white;
    margin-left: 40px;

}

.two_side_image .A_quote:hover {
    background-color: #2bace7;
    color: white;
    transition: 1s;
}

/* ************************* Discounts_section *********************** */

.Discounts_section h1 {
    color: #002e5a;
    font-family: "Rajdhani", sans-serif;
    font-size: 35px;
    font-weight: 700;


}

.Discounts_section h1 span {
    color: #2bace7;
}

.Discounts_section h6 {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 20px;
}

/* ************** Counter *************** */
.counter-box span {
    font-size: 55px;
    font-weight: bold;
    position: relative;
    color: white;
    text-align: center;
    display: inline-block;
    font-family: "Rajdhani", sans-serif;

}

.counter-box h3 {
    color: #002e5a;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
}

.counter-box {
    position: relative;
    bottom: 10rem;
}

.counter {
    text-align: center;
    margin-top: 10px;
}

.counter {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    color: white;
    text-align: center;
    display: inline-block;
}
.counter-box_1 .container{
    background-color: #007bff;
    color: white;
    height: 245px;
    border: 15px solid #98bcd1;
    border-radius: 10px;
}
.counter-box_1 .container .four{
    margin-top: 80px;
}
@media (min-width:425px){
    /* .counter-box span {
        color: black;
    }
    .counter-box .counter{
        color: black;
    } */
    /* .counter-box_1 .container{
        height: 961px;
    } */
    /* .counter-box_1 .container .four{
        margin-top: 0px !important;
    } */
}